body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Color de fondo */
}

#header {
    background-color: #585858; /* Color de fondo del navbar */
    padding: 10px 0; /* Espaciado interno */
}

#header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Espaciado interno */
    color: #fff; /* Color del texto del navbar */
}

#header nav a {
    text-decoration: none;
    color: #fff; /* Color del texto del navbar */
    margin: 0 10px; /* Margen entre elementos del navbar */
}

main {
    padding: 20px; /* Espaciado interno */
}

#titulo {
    text-align: center;
    margin-bottom: 20px; /* Margen inferior */
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imagen {
    width: 150px;
    height: 150px;
    margin: 10px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.zoomed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    z-index: 1000;
    cursor: pointer;
}

